<form name="setup1" action="/" method="post">
类别的URL: <input type="text" name="url">
爬取的层数: <input type="text" name="number">
<input type="text" name="setup" value="1" style="visibility: hidden;">
<input type="submit" value="商品列表爬取"
{% if status_data.work_statu != "" %} disabled="true"{% endif %}>
</form>

<form name="setup2" action="/" method="post">
<input type="text" name="setup" value="2" style="visibility: hidden;">
<input type="submit" value="单个商品爬取"  
{% if status_data.work_statu != "单个商品爬取" %} disabled="true"{% endif %}>
</form>

<form name="setup3" action="/" method="post">
<input type="text" name="setup" value="3" style="visibility: hidden;">
<input type="submit" value="keepa补充信息"
{% if status_data.work_statu != "keepa补充信息" %} disabled="true"{% endif %}>
</form>

<form name="setup4" action="/" method="post">
<input type="text" name="setup" value="4" style="visibility: hidden;">
<input type="submit" value="图片下载"
{% if status_data.work_statu != "图片下载" %} disabled="true"{% endif %}>
</form>

<form name="setup5" action="/" method="post">
<input type="text" name="setup" value="5" style="visibility: hidden;">
<input type="submit" value="Excel生成"
{% if status_data.work_statu != "Excel生成" %} disabled="true"{% endif %}>
</form>

{% if status_data.start_time %}
<p>本次任务开始于：{{ status_data.start_time }}</p>
<p>当前阶段：{{ status_data.work_statu }}</p>
<p>商品数：{{ status_data.crawl_product_number }}</p>
{% endif %}

<form name="search" action="/" method="post">
	<input type="text" name="setup" value="9" style="visibility: hidden;">
	<br>
	<input type="text" name="review_number_min">
	< 评论人数 <
	<input type="text" name="review_number_max">
	<br>
	<input type="text" name="review_score_min">
	< 评论分数 <
	<input type="text" name="review_score_max">
	<br>
	<input type="text" name="price_min">
	<  价 格  <
	<input type="text" name="price_max">
	<br>
	<input type="text" name="release_data_min">
	< 上架日期 <
	<input type="text" name="release_data_max">
	<br>
	销售方式：
	<input type="checkbox" name="sellers" value="AMZ">AMZ
	<input type="checkbox" name="sellers" value="FBA">FBA
	<input type="checkbox" name="sellers" value="FBM">FBM
	<br>
	关键词：
	<input type="text" name="key_word">
	<br>
	<input type="submit" value="提交">
</form>